In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt   
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
%matplotlib inline

In [2]:
Dataset_final_df = pd.read_csv("Dataset_final.csv")

In [3]:
Dataset_final_df.shape

(355, 7)

In [4]:
Dataset_final_df.head()

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,photo-1492447166138-50c3889fccb1,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,Img_4,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,image_51,M,Medium,Casual,LightBlue,Overshirt,N
3,image_52,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,image_53,S,Fair,Wedding,White&Pink,Overshirt,Y

In [5]:
Dataset_final_df.describe().transpose()

            count unique                         top freq
ImgID         355    278  photo-1231122332-1eddDDded    7
BodySize      355      6                          XL  154
Complexion    355      6                        Fair   94
Occasion      355      8                      Casual  141
DressColor    355     75                       Black   45
DressDesign   355     27                 Linen Shirt   69
Matching      355      2                           Y  229

In [6]:
Dataset_final_df.drop(['ImgID'], axis = 1,inplace=True)
Dataset_final_df

,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,M,Medium,Casual,LightBlue,Overshirt,N
3,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,S,Fair,Wedding,White&Pink,Overshirt,Y
...,...,...,...,...,...,...
350,XL,Olive,Party,Blue&White,Oxford Button-Down Shirt,N
351,S,Very Fair,Formal,White,Classic Short Sleeve Shirt,Y
352,L,Medium,Casual,Blue&White,Casual Shirts,N
353,XL,Fair,Sports,White,Oxford Button-Down Shirt,Y
354,XL,Brown,Sports,Blue,Classic Short Sleeve Shirt,Y

In [7]:
Dataset_final_df.groupby(["Matching"]).count()

          BodySize  Complexion  Occasion  DressColor  DressDesign
Matching
N              126         126       126         126          126
Y              229         229       229         229          229

In [8]:
Dataset_final_df.groupby(["BodySize"]).count()

          Complexion  Occasion  DressColor  DressDesign  Matching
BodySize
L                 72        72          72           72        72
M                 71        71          71           71        71
S                 16        16          16           16        16
XL               154       154         154          154       154
XS                 1         1           1            1         1
XXL               41        41          41           41        41

In [9]:
Dataset_final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BodySize     355 non-null    object
 1   Complexion   355 non-null    object
 2   Occasion     355 non-null    object
 3   DressColor   355 non-null    object
 4   DressDesign  355 non-null    object
 5   Matching     355 non-null    object
dtypes: object(6)
memory usage: 16.8+ KB

In [10]:
Dataset_final_df=pd.get_dummies(Dataset_final_df)
Dataset_final_df

,BodySize_L,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Brown,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,...,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_N,Matching_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
351,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
352,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
353,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
354,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
array = Dataset_final_df.values
X = array[:,0:7]
Y = array[:,7]  
test_size = 0.30
seed = 7  
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)
type(X_train)

numpy.ndarray

In [12]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
print(model_score)
print(metrics.confusion_matrix(y_test, y_predict))

0.9252336448598131
[[99  0]
 [ 8  0]]